<section>
    <header class="mb-6">
        <h2 class="text-lg font-medium text-gray-900">Update password</h2>
        <p class="mt-1 text-sm text-gray-600">Ensure your account is using a long, random password to stay secure.</p>
    </header>

    <form action="{{ path('app_profile') }}" method="POST" class="mt-6 space-y-6">
        <fieldset>
            <label for="current_password" class="block mb-4">Current password</label>
            <input type="password" name="current_password" id="current_password" class="mt-1 block w-full p-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm">
            <ul class="mt-2 text-sm text-red-600 space-y-1">
                <li>message</li>
            </ul>
        </fieldset>
        <fieldset>
            <label for="password" class="block mb-4">New password</label>
            <input type="password" name="password" id="password" class="mt-1 block w-full p-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm">
            <ul class="mt-2 text-sm text-red-600 space-y-1">
                <li>message</li>
            </ul>
        </fieldset>
        <fieldset>
            <label for="password_confirm" class="block mb-4">Confirm password</label>
            <input type="password" name="password_confirm" id="password_confirm" class="mt-1 block w-full p-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm">
            <ul class="mt-2 text-sm text-red-600 space-y-1">
                <li>message</li>
            </ul>
        </fieldset>
        <fieldset class="flex items-center gap-4">
            <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">Save</button>
            <p class="text-sm text-gray-600">Saved</p>
        </fieldset>
    </form>
</section>