{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-12 mt-10">
        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-6">
                <div class="max-w-xl ">
                    {{ include('dashboard/_update_profile_information_form.html.twig') }}
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-6">
                <div class="max-w-xl ">
                    {{ include('dashboard/_update-profile-image-form.html.twig') }}
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-6">
                <div class="max-w-xl ">
                    {{ include('dashboard/_update-profile-password-form.html.twig') }}
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg mb-6">
                <div class="max-w-xl ">
                    {{ include('dashboard/_delete-user-form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}