{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-12 mt-10">
        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                <div class="max-w-xl ">
                    update-profile-information-from
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                <div class="max-w-xl ">
                    update-profile-image-form
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                <div class="max-w-xl ">
                    update-profile-password-form
                </div>
            </div>
            <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                <div class="max-w-xl ">
                    delete-user-form
                </div>
            </div>
        </div>
    </section>
{% endblock %}